<div class="newProject">
    <button class="addNewProject" id="addNewProjectBtn" type="button" name="button" data-toggle="modal" data-target="#newProjectModal">
      <img src="images\AddProject.png" alt="+">
      Add TODO List
    </button>

</div>

<script src="/js/main.js"></script>
</body>

</html>
