<div class="newProject">
  <button class="addNewProject" id="addNewProjectBtn" type="button" name="button" data-toggle="modal" data-target="#newProjectModal">
    <h6><i style="padding-right: 15px;" class="fas fa-plus"></i>Add TODO List</h6>
  </button>
</div>

<script src="/js/main.js"></script>
</body>

</html>
