  <%- include('partials/header') %>
  <div class="container mt-5">
    <h1>Login</h1>

    <ul>
      <% if(typeof errors != 'undefined'){%>
      <% errors.forEach(error =>{%>
      <li id="errorMessage"><%= error.message %></li>
      <%})%>
      <%}%>
    </ul>
    <ul>
      <% if(messages.error) {%>
      <li id="errorMessage"><%= messages.error%></li>
      <%}%>
    </ul>

     <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <!-- Makes POST request to /login route -->
            <form id="login" action="/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="username" type="email" title="Please enter your email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <button id="password" name="confirmLogin" type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card social-block">
          <div class="card-body">
            <!-- <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a> -->
            <a href='/register' class="btn btn-block btn-social btn-info" name="changeToRegister" role="button">
              <i class="fas fa-check-double"></i>
              Register new ToDoList account
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/main.js"></script>

</body>
</html>
