<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <ul>
    <% if(typeof errors != 'undefined'){%>
    <% errors.forEach(error=>{%>
    <li><%= error.message %></li>
    <%})%>
    <%}%>
  </ul>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="username" type="email" class="form-control" placeholder="MyEmail@gmail.com" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  class="form-control" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              placeholder="Password"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
              <input type="password"  class="form-control" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              placeholder="Repeat password"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>
            <button id="password" name="confirmRegister" type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <!-- <a class="btn btn-block btn-social btn-google " href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a> -->
          <a href='/login' class="btn btn-block btn-social btn-info" role="button">
            <i class="fas fa-check-double"></i>
            Login with ToDoList account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" -->
</body>
</html>
